<!DOCTYPE html>

<html lang="en">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134139024-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134139024-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#237d8d">
    {# page-specific primary meta-tags #}
    {% block meta %}{% endblock %}

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    {# page-specific primary meta-tags #}
    {% block og_meta %}{% endblock %}
    <meta property="og:image:height" content="800">
    <meta property="og:image:width" content="800">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    {# page-specific primary meta-tags #}
    {% block twitter_meta %}{% endblock %}
    

    <!-- essential comment for gulp to minify and put css into dist folder: -->
    <!--build:css css/styles.min.100.css-->
    <link rel="stylesheet" href="css/main.css">
    <!--endbuild-->

    {# get the google fonts #}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    {# favicon stuff from https://realfavicongenerator.net/ #}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon_package/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon_package/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon_package/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon_package/site.webmanifest">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">

    <!-- cookie consent provided by https://github.com/insites/cookieconsent: -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#941221"
        },
        "button": {
          "background": "#ff0000"
        }
      },
      "theme": "classic",
      "content": {
        "message": "This website uses cookies to improve your experience",
        "dismiss": "That's cool",
        "link": "Learn more about cookies"
      }
    })});
    </script>

  </head>

  <body id="{{ body_id }}">

    {% include "partials/_header.njk" %}

    <div class="page">

      {% block content %}{% endblock %}

    </div><!-- #page -->

    {% include "partials/_footer.njk" %}

    <!--build:js js/main.min.js -->
    <script src="js/lib/jquery-2.1.0.min.js"></script>
    <script src="js/daMenu.js"></script>
    <script src="js/userTabbing.js"></script>
    <script src="js/blurLazyImage.js"></script>
    <!-- endbuild -->

    {# page-specific scripts if really necessary #}
    {% block js %}{% endblock %}

  </body>
</html>