<header class="site-header"> 


    <nav class="main-nav">
      <div class="menu-button">
        <i class="icon-menu"></i>
      </div>

      <h1 class="site-title"><a href="index.html">Dan Addison</a></h1>

      <ul>
        <li class="nav-home"><a href="index.html">home</a></li>
        <li class="nav-portfolio"><a href="portfolio.html">portfolio</a></li>
        <li class="nav-bio"><a href="bio.html">bio</a></li>
        <li class="nav-contact"><a href="contact.html">contact</a></li>
      </ul>

      <div class="social-icons">
        <a href="https://github.com/DanAddison" target="_blank"><i class="icon-github"></i></a>
        <a href="https://www.linkedin.com/in/danaddison/" target="_blank"><i class="icon-linkedin"></i></a>
        <a href="https://www.youtube.com/c/DanAddison" target="_blank"><i class="icon-youtube"></i></a>
        <a href="https://www.instagram.com/cooltouchsteamarms" target="_blank"><i class="icon-instagram"></i></a>
      </div>
    </nav>

</header>