* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  background-color: $color__canvas-light;
  position: relative;
}

.page {
  min-height: calc(100vh - 180px);
}

/* center elements on page */
.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
