/*------------------------------------*\
    Sizes
\*------------------------------------*/

$bp-s: 500px;
$bp-m: 700px;
$bp-l: 1000px;
$bp-xl: 1300px;
$bp-xxl: 1500px;

$bp-menu: 600px;

$max-width: $bp-xl;

// spacing
$spacing: 2em;
$spacing-percent: 3%;		// Used by grid system

/*------------------------------------*\
    Fonts
\*------------------------------------*/

$font__body: 'Roboto', sans-serif;
$font__headings: 'Roboto', sans-serif;
$font__code: Monaco, Consolas, monospace;
$font__pre: Courier, monospace;

/*------------------------------------*\
    Colours
\*------------------------------------*/

$white: #fff;
$black: #222;
$primary: #237d8d;
$secondary: #adffff;

// Backgrounds
$color__canvas-light: $white;
$color__canvas-medium: #eff8fa;
$color__canvas-dark: #c1c9ca;
$color__transparent: rgba(255, 255, 255, 0.7);
$color__header: $primary;
$color__footer: $primary;

// Text
$color__body: $black;
$color__body-light: #474747;
$color__body-lightest: #666666;
$color__headings: $black;

// Links
$color__action: $primary;

// Buttons
$color__button-text: $color__body;
$color__button-background: $color__header;
$color__button-border: $black;