
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  width: 220px;
  padding: 100px 1em 25px;
  position: fixed;
  top: 0px;
  right: 0;
  height:100%;
  background-color: $primary;
  margin-right: -220px;
  transition: .3s ease-in;

  .site-title {
    position: absolute;
    top: 90px;
    text-transform: uppercase;
    font-size: 1.25em;
    color: $white;
  }

  &.is-active-menu {
    margin: 0;

    .icon-menu {
      color: $white !important;
      transition: .6s ease-in;
    }

  }

  ul {
    list-style: none;
    margin-top: 3em;
    padding: 0;
  }
  
  li {
    padding: .1em;
  }
  
  a {
    color: $white;
    font-size: 1.25em;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

// active navigation based on current page
body#home .nav-home a,
body#portfolio .nav-portfolio a,
body#bio .nav-bio a,
body#contact .nav-contact a { 
  text-decoration: underline;
}

.menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
}

.icon-menu {
  font-size: 1.5em;
  color: $color__body;
  transition: .6s ease-in;
}

.social-icons {
  font-size: 1.25em;

  a {

    padding: 0 .25em;
  }
}
