.social-icons {
  
  a:hover {
    text-decoration: none;
  }

  i {
    font-size: .8em;
    transition: all .2s ease;
    
    &:hover,
    &:focus {
      transform: scale(1.2);
      // text-decoration: none;
    }
  }
}