{% set body_id = "contact" %}
{% extends "layout.njk" %}

{% block content %}

  <div class="row row--pad">

    <div class="background-image">
      <img src="images/snowdon.1.png" alt="Dan ascending Mt Snowdon, 2018">
    </div>

    <div class="text-content contact">


      <p>I am available for freelance web development work.</p>
      <p>Everything I build is fast and responsive and served with a smile.</p>
      <p>Need help to bring your website project to life? Let’s talk!</p>
      <p>Get the ball rolling by completing the contact form below.</p>
      <p>My standards are high but don't worry, my rates are low! <a data-fancybox data-src="#cost-info" href="javascript:;"><i class="fas fa-calculator"></i></a></p>

      <div id="cost-info" class="hidden">
        <h1>Sneaky hidden box that gives you some idea how much things actually cost even though I don't know anything about your project's scope or technical requirements yet so how long is a piece of string but OK I understand where you're coming from so I'll give you a hint:</h1>
        <p>Costs start at £500 for a basic website.</p>
      </div>



      <form class="contact-form" name="contact" method="POST" netlify-honeypot="bot-field" netlify>
        <p class="hidden">
          <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <p>
          <label>Your Name: <input type="text" name="name" required/></label>   
        </p>
        <p>
          <label>Your Email: <input type="email" name="email" required/></label>
        </p>
        <p>
          <label>Message: <textarea name="message" rows="10" required></textarea></label>
        </p>
        <div data-netlify-recaptcha></div>
        <p class="contact-form__button">
          <button type="submit">Send</button>
        </p>
      </form>

    </div><!-- text-content contact -->

  </div><!-- row -->

{% endblock %}