{% set body_id = "home" %}
{% extends "layout.njk" %}

{% block content %}

  <div class="intro">
    <h1>A dope a.f. boilerplate for static portfolio websites</h1>
    <h3>It uses Nunjucks templating.</h3>
    <h3>Gulp handles the templates as well as compiling and optimising Sass, JS, HTML, and images</h3>
    <h3>It also includes browser sync, obvs.</h3>
  </div>

{% endblock %}