{% set body_id = "home" %}


{% extends "layout.njk" %}

{% block content %}

  <div class="row row--pad">

    <div class="background-image">
      <img src="assets/images/sintra5.png" alt="Dan on a boulder ascending Sintra, Portugal, 2017">
    </div>

    <div class="text-content intro">

      <h1>Hi! I'm Dan, a freelance web developer from Folkestone</h1>
      <p>Take a look at some <a href="portfolio.html" class="link__portfolio">examples</a> of websites I've built</p>
      <p>Check out my <a href="bio.html" class="link__bio">bio</a> if you're curious to know more</p>
      <p>Why not <a href="contact.html" class="link__contact">contact</a> me to chat about your website idea?</p>
      <p>Download my <a href="assets/documents/DA_developer_CV.pdf" target="blank" class="link__cv">CV</a> if that's useful</p>

    </div>

  </div><!-- row -->

{% endblock %}