{% set body_id = "portfolio" %}


{% extends "layout.njk" %}

{% block content %}

  <div class="row row--pad">

    <div class="portfolio__header">
      <h1>Portfolio</h1>
      <p>When I'm not building bespoke WordPress sites with the team at <a href="https://nebulodesign.com" target="blank">Nebulo</a>, I'm working on solo freelance projects. Here are some examples:</p>
    </div>

  </div><!-- row -->

  <div class="row row--pad">
    <div class="project">

      <div class="project__gallery">

        <div class="project__gallery-image">

          <a href="#" class="featured">
            <img src="images/portfolio/JMW1.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/JMW2.jpg" alt="">
          </a>

        </div>

        <div class="project__gallery-thumbs">

          <a href="#" class="featured">
            <img src="images/portfolio/JMW1.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/JMW2.jpg" alt="">
          </a>

        </div><!-- project__gallery-thumbs -->

      </div><!-- project__gallery -->

      <div class="project__info">

        <h2 class="project__info-title">JM Woodcraft</h2>

        <p><a class="project__info-link" href="#">Live site launching soon!</a></p>

        <div class="project__info-description">
          <p>A commercial website for a carpenter.</p>
          <p>Jack wanted a shop-window for his woodcrafting and carpentry skills. His key objective was to be able to demonstrate to visitors the breadth of his services, and that he has an active, thriving business with a healthy turnover of projects.</p>
          <p>We identified that the WordPress content management system would provide the platform he needed to show this. I created a simple, minimal theme with a 'project' custom post type. This enables him to easily upload images and info about his handiwork over time via a user-friendly admin interface.</p>
          <p>These posts form an organically growing archive of projects which are sorted under categories and tags, and thus easily navigated by a visitor looking for a particular type of job. Images added to a post automatically display in a carousel slider, so users are served detailed visual evidence of Jack's work.</p>
        </div>

        <p class="project__info-tech"><span>Tech Stack:</span><br>WordPress, Sass, jQuery, Gulp, Git <a class="repo" href="https://github.com/DanAddison/JM-Woodcraft" target="blank"><i class="fab fa-github"></i></a></p>

      </div><!-- project__info -->

    </div><!-- project -->
  </div><!-- row -->

  <div class="row row--pad">
    <div class="project">

      <div class="project__gallery">

        <div class="project__gallery-image">

          <a href="#" class="featured">
            <img src="images/portfolio/PP1.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/PP2.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/PP3.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/PP4.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/PP5.jpg" alt="">
          </a>

        </div>

        <div class="project__gallery-thumbs">

          <a href="#" class="featured">
            <img src="images/portfolio/PP1.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/PP2.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/PP3.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/PP4.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/PP5.jpg" alt="">
          </a>

        </div><!-- project__gallery-thumbs -->

      </div><!-- project__gallery -->

      <div class="project__info">

        <h2 class="project__info-title">Pen & Plant</h2>
  
        <p><a class="project__info-link" href="#">Live site launching soon!</a></p>

        <div class="project__info-description">
          <p>An online portfolio and shop for an illustrator.</p>
          <p>The project was conceived to provide a showcase for the client's self-directed collections of botanical illustrations, and attract commissions for such work. Pen & Plant had an existing brand identity as a designer/maker of small decorative objects and wearables, so the website also needed to incorporate e-commerce for selling these items directly to the customer.</p>
          <p>I created a site that attempts to balance a neutral aesthetic, to highlight the client's own work, with the pragmatic functionality neccessary to make it an effective, accessible, fully-featured online shop.</p>
          <p>I chose to build a bespoke child-theme of the Storefront theme, made by WooCommerce themselves, so it is a well supported, lightweight basis to build upon. I have used minimal 3rd party plugins to keep things maintainable, secure, bloat-free and performant.</p>
        </div>

        <p class="project__info-tech"><span>Tech Stack:</span><br>WordPress, WooCommerce, Sass, jQuery, Gulp, Git <a class="repo" href="https://github.com/DanAddison/Pen-and-Plant" target="blank"><i class="fab fa-github"></i></a></p>

      </div><!-- project__info -->

    </div><!-- project -->
  </div><!-- row -->

  <div class="row row--pad">
    <div class="project">

      <div class="project__gallery">

        <div class="project__gallery-image">

          <a href="#" class="featured">
            <img src="images/portfolio/JH1.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/JH2.jpg" alt="">
          </a>

        </div>

        <div class="project__gallery-thumbs">

          <a href="#" class="featured">
            <img src="images/portfolio/JH1.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/JH2.jpg" alt="">
          </a>

        </div><!-- project__gallery-thumbs -->

      </div><!-- project__gallery -->

      <div class="project__info">

        <h2 class="project__info-title">John Hosking</h2>

        <p><a class="project__info-link" href="#">Live site launching soon!</a></p>

        <div class="project__info-description">
          <p>A portfolio website for an artist.</p>
          <p>John's family wanted to celebrate John's life and work with a website to catalogue decades of painting and printmaking.</p>
          <p>As this would become a fixed archive, as opposed to a dynamic one with content being added or changed over time, we decided to build a static site. With no content management system to provide a user-friendly interface for the family to add the exhaustive archive themselves to the finished site, I took on the task of populating the site with all of its content.</p>
          <p>We chose this approach as there are clear benefits to building a static site. The site itself is faster as there is no server-side dynamic rendering of resources. It is very secure as there is no database or CMS to breach. Hosting costs are extremely low, as the site requires minimal server support. This means that the family avoid ongoing maintenance tasks and expenses in keeping John's fast, responsive portfolio site up and running.</p>
        </div>

        <p class="project__info-tech"><span>Tech Stack:</span><br>Sass, Nunjucks, jQuery, Gulp, Git <a class="repo" href="https://github.com/DanAddison/John-Hosking" target="blank"><i class="fab fa-github"></i></a></p>

      </div><!-- project__info -->

    </div><!-- project -->
  </div><!-- row -->

  <div class="row row--pad">
    <div class="project">

      <div class="project__gallery">

        <div class="project__gallery-image">

          <a href="#" class="featured">
            <img src="images/portfolio/EB1.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/EB2.jpg" alt="">
          </a>

        </div>

        <div class="project__gallery-thumbs">

          <a href="#" class="featured">
            <img src="images/portfolio/EB1.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/EB2.jpg" alt="">
          </a>

        </div><!-- project__gallery-thumbs -->

      </div><!-- project__gallery -->

      <div class="project__info">

        <h2 class="project__info-title">Ellis Bolton</h2>

        <p><a class="project__info-link" href="https://ellisbolton.com/" target="blank">Live site <i class="fas fa-external-link-alt"></i></a></p>

        <div class="project__info-description">
          <p>A portfolio website for an illustrator.</p>
          <p>Ellis was looking for a website to showcase her work. As an emerging illustrator, she wanted a site that could be fully adaptable and extendable over time as her body of work grows and her practice develops.</p>
          <p>I have built a WordPress site based on the _underscores starter theme by Automattic, the people behind WordPress. This platform and theme provides an ideal foundation to build upon - I have created a simple site that can grow and evolve and incorporate all manner of functionality including a shop.</p>
          <p>Currently, Ellis can generate individual project pages herself, each displaying a tiled gallery of images that can be opened in a full-screen lightbox overlay and easily scrolled through. I chose a visually striking accent colour to reflect the client's dynamic personality.</p>
        </div>

        <p class="project__info-tech"><span>Tech Stack:</span><br>Wordpress, Sass, jQuery, Gulp, Git <a class="repo" href="https://github.com/DanAddison/Ellis-Bolton" target="blank"><i class="fab fa-github"></i></a></p>

      </div><!-- project__info -->

    </div><!-- project -->
  </div><!-- row -->

  <div class="row row--pad">
    <div class="project">

      <div class="project__gallery">

        <div class="project__gallery-image">

          <a href="#" class="featured">
            <img src="images/portfolio/LA1.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/LA2.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/LA3.jpg" alt="">
          </a>

        </div>

        <div class="project__gallery-thumbs">

          <a href="#" class="featured">
            <img src="images/portfolio/LA1.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/LA2.jpg" alt="">
          </a>

          <a href="#">
            <img src="images/portfolio/LA3.jpg" alt="">
          </a>

        </div><!-- project__gallery-thumbs -->

      </div><!-- project__gallery -->

      <div class="project__info">

        <h2 class="project__info-title">Daniel Addison Lyrics Archive</h2>

        <p><a class="project__info-link" href="https://daniel-addison-lyrics-archive.netlify.com/#/" target="blank">Live site <i class="fas fa-external-link-alt"></i></a></p>

        <div class="project__info-description">
          <p>A documentation website for a songwriter.</p>
          <p>Documentation sites are very common in software development and computer science. As businesses and organisations have shifted toward making everything paperless and digital, they have become an essential resource for all manner of user-guides, white papers, reference material etc.</p>
          <p>As such I decided it would be valuable to develop a workflow for generating documentation sites using a static site generator. I chose to use Docsify, and to simply archive all of my original song lyrics as a proof of concept.</p>
          <p>This way of working provides an efficient way to pull in content written in Markdown, and convert it to static html pages. Markdown is a lightweight markup language with plain text formatting syntax, and has become very popular with writers as well as developers.</p>
          <p>Apart from the landing page, I have kept the site aesthetically neutral. It is intended to convey only the words on the screen, with nothing to distract from this content.</p>
        </div>

        <p class="project__info-tech"><span>Tech Stack:</span><br>Markdown, Javascript, Docsify, Git <a class="repo" href="https://github.com/DanAddison/Songwriting" target="blank"><i class="fab fa-github"></i></a></p>

      </div><!-- project__info -->

    </div><!-- project -->
  </div><!-- row -->

{% endblock %}