{% set body_id = "about" %}

{% block meta %}
    <title>Dan Addison's life and times: a whistle-stop biography</title>
    <meta name="description" content="A biographical background giving context to my freelance web development career">
{% endblock %}

{% block og_meta %}
    <meta property="og:url" content="https://personal-portfolio-v1.netlify.com/bio">
    <meta property="og:title" content="Dan Addison's life and times: a whistle-stop biography">
    <meta property="og:description" content="A biographical background giving context to my freelance web development career">
    <meta property="og:image" content="https://personal-portfolio-v1.netlify.com/assets/images/PortfolioBio.jpg">
{% endblock %}

{% block twitter_meta %}
    <meta property="twitter:url" content="https://personal-portfolio-v1.netlify.com/bio">
    <meta property="twitter:title" content="Dan Addison's life and times: a whistle-stop biography">
    <meta property="twitter:description" content="A biographical background giving context to my freelance web development career">
    <meta property="twitter:image" content="https://personal-portfolio-v1.netlify.com/assets/images/PortfolioBio.jpg">
{% endblock %}

{% extends "layout.njk" %}

{% block content %}

  <div class="row row--pad">

    <div id="lazy-background-image" data-image-src="assets/images/ionian5.png">

      {# Insert the low quality placeholder #}
      <span id="placeholder-overlay" style="background-image: url('assets/images/ionian5tiny.png');"></span>

    </div><!-- #lazy-feature-image -->

    <div class="text-content about">

      <h1>About me</h1>

      <p>Born and raised in Folkestone 
      <a data-fancybox data-caption="St Georges Rd, Cheriton" href="assets/images/Patrol.jpg"><i class="icon-camera"></i></a>
      , I spent 6 years in Kingston-upon-Thames where I studied fine art 
      <a data-fancybox data-caption="Reps | 2004 | acrylic on canvas" href="assets/images/Reps3.jpg"><i class="icon-camera"></i></a>
       and developed as a singer-songwriter/ performer. I ended up returning to Folkestone to benefit from, and hopefully contribute to, the town's creative regeneration.</p>

      <p>I spent the next few years as a music producer with a day job in a bookshop. I made acoustic stuff 
      <a data-fancybox data-type="iframe" data-src="https://bandcamp.com/EmbeddedPlayer/album=3598012740/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/track=2936571530/transparent=true/" href="javascript:;"><i class="icon-headphones"></i></a>
      , alt hip-hop 
      <a data-fancybox href="https://youtu.be/QZpcDLdjIt0"><i class="icon-video-camera"></i></a>
      , and collaborative art rock 
      <a data-fancybox data-type="iframe" data-src="https://bandcamp.com/EmbeddedPlayer/album=1772919462/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" href="javascript:;"><i class="icon-headphones"></i></a>
      . I also dabbled in making videos of local cultural highlights 
      <a data-fancybox href="https://youtu.be/z6Wb51Lxd_A"><i class="icon-video-camera"></i></a>
       for my lo-fi, formless 
      <a href="www.youtube.com/c/DanAddison">YouTube channel.</a>
      </p>

      <p>In 2016 I decided to move on to new challenges. While living in the Creative Quarter and working night shifts in the local council's control room 
      <a data-fancybox data-caption="Looking out for the elderly and vulnerable at Shepway Lifeline" href="assets/images/Lifeline.jpg"><i class="icon-camera"></i></a>
      , I managed to teach myself web development from absolute zero. In 2018 I became a full-time developer, freelancing primarily for local design agency 
      <a href="https://nebulodesign.com" target="_blank">Nebulo.</a></p>

      <p>I love low-angle sunshine, family and friends, indie cinema, languid bike rides, calisthenics, literary fiction, summer sea swimming, Shane Carruth, Alex Honnold, Rose Namajunas, Kendrick Lamar and Alan Partridge.</p>

      <p>You're up to speed! Reach out here: <a href="/contact"><i class="icon-envelop"></i></a></p>


    </div>

  </div><!-- row -->

{% endblock %}

{% block js %}
<!--build:js js/da.fancybox.min.js -->
<script src="js/lib/jquery.fancybox.js"></script>
<script src="js/daFancybox.js"></script>
<!-- endbuild -->
{% endblock %}