{% set body_id = "bio" %}

{% block meta %}
    <title>Dan Addison's life and times: a whistle-stop biography</title>
    <meta name="description" content="A biographical background giving context to my freelance web development career">
{% endblock %}

{% block og_meta %}
    <meta property="og:title" content="Dan Addison's life and times: a whistle-stop biography">
    <meta property="og:description" content="A biographical background giving context to my freelance web development career">
    <meta property="og:image" content="https://danaddisoncreative.com/assets/images/PortfolioBio.jpg">
{% endblock %}

{% block twitter_meta %}
    <meta property="twitter:title" content="Dan Addison's life and times: a whistle-stop biography">
    <meta property="twitter:description" content="A biographical background giving context to my freelance web development career">
    <meta property="twitter:image" content="https://danaddisoncreative.com/assets/images/PortfolioBio.jpg">
{% endblock %}

{% extends "layout.njk" %}

{% block content %}

  <div class="row row--pad">

    <div class="background-image">
      <img src="assets/images/ionian5.png" alt="Dan swimming in the Ionian Sea off Kefalonia 2018">
    </div>

    <div class="text-content biography">

      <h1>The whistle-stop biography:</h1>

      <ul>
        <li>I grew up in Folkestone: 
          <a data-fancybox data-caption="St Georges Rd, Cheriton" href="assets/images/Patrol.jpg">
            <i class="icon-camera"></i>
          </a>
        </li>

        <li>I studied Fine Art at Kingston University: 
          <a data-fancybox data-caption="Reps | 2004 | acrylic on canvas" href="assets/images/Reps3.jpg">
            <i class="icon-camera"></i>
          </a>
        </li>
          
        <li>I spent a few years playing acoustic gigs: 
          <a data-fancybox data-type="iframe" data-src="https://bandcamp.com/EmbeddedPlayer/album=3598012740/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/track=2936571530/transparent=true/" href="javascript:;">
            <i class="icon-headphones"></i>
          </a>
        </li>
        
        <li>I returned to Folkestone and made some alt hip-hop: 
          <a data-fancybox href="https://youtu.be/QZpcDLdjIt0">
            <i class="icon-video-camera"></i>
          </a>
        </li>

        <li>I produced a collaborative art-rock project: 
          <a data-fancybox data-type="iframe" data-src="https://bandcamp.com/EmbeddedPlayer/album=1772919462/size=large/bgcol=333333/linkcol=0f91ff/tracklist=false/artwork=small/transparent=true/" href="javascript:;">
            <i class="icon-headphones"></i>
          </a>
        </li>

        <li>I made videos of local cultural highlights:  
          <a data-fancybox href="https://youtu.be/z6Wb51Lxd_A">
            <i class="icon-video-camera"></i>
          </a>
        </li>
        
        <li>Then I taught myself coding on my days off work: 
          <a data-fancybox data-caption="Looking out for the elderly and vulnerable at Shepway Lifeline" href="assets/images/Lifeline.jpg">
            <i class="icon-camera"></i>
          </a>
        </li>
        
        <li>I began freelancing as a web developer at Nebulo: 
          <a data-fancybox data-caption="nebulodesign.com" href="assets/images/nebulo-team.jpg">
            <i class="icon-camera"></i>
          </a>
        </li>

        <li>Et voila! Reach out if you need a friendly web developer:   
          <a href="contact.html">
            <i class="icon-envelop"></i>
          </a>
        </li>

      </ul>

    </div>

  </div><!-- row -->

{% endblock %}

{% block js %}
<!--build:js js/da.fancybox.min.js -->
<script src="js/lib/jquery.fancybox.js"></script>
<script src="js/daFancybox.js"></script>
<!-- endbuild -->
{% endblock %}