{% set body_id = "contact" %}

{% block meta %}
    <title>Get in touch with Dan Addison to discuss your website project</title>
    <meta name="description" content="I'm always happy to hear from artists, makers, businesses and charities who are interested in my web design services">
{% endblock %}

{% block og_meta %}
    <meta property="og:url" content="https://personal-portfolio-v1.netlify.com/contact">
    <meta property="og:title" content="Dan Addison - Get in touch with Dan Addison to discuss your website project">
    <meta property="og:description" content="I'm always happy to hear from artists, makers, businesses and charities who are interested in my web design services">
    <meta property="og:image" content="https://personal-portfolio-v1.netlify.com/assets/images/PortfolioContact.jpg">
{% endblock %}

{% block twitter_meta %}
    <meta property="twitter:url" content="https://personal-portfolio-v1.netlify.com/contact">
    <meta property="twitter:title" content="Dan Addison - Get in touch with Dan Addison to discuss your website project">
    <meta property="twitter:description" content="I'm always happy to hear from artists, makers, businesses and charities who are interested in my web design services">
    <meta property="twitter:image" content="https://personal-portfolio-v1.netlify.com/assets/images/PortfolioContact.jpg">
{% endblock %}

{% extends "layout.njk" %}

{% block content %}

  <div class="row row--pad">

    <div id="lazy-background-image" data-image-src="assets/images/snowdon5.png">

      {# Insert the low quality placeholder #}
      <span id="placeholder-overlay" style="background-image: url('assets/images/snowdon5tiny.png');"></span>

    </div><!-- #lazy-feature-image -->

    <div class="text-content contact">


      <p>I am available for freelance web development work.</p>
      <p>I deliver secure, maintainable, responsive websites, tailor made for you.</p>
      <p>Need help to bring your project to life? Let’s chat.</p>
      <p>Reach out by completing the contact form below. <a data-fancybox data-src="#cost-info" href="javascript:;"><i class="icon-magic-wand"></i></a></p>

      <div id="cost-info" class="hidden">
        <h1>Sneaky hidden box for those that <em>reallllly</em> need a hint about my prices:</h1>
        <p>Costs start at £600.</p>
      </div>



      <form class="contact-form" name="contact" method="POST" netlify-honeypot="bot-field" netlify>
        <p class="hidden">
          <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
        </p>
        <p class="contact-form__label">
          <label>Your Name: <input type="text" name="name" required/></label>   
        </p>
        <p class="contact-form__label">
          <label>Your Email: <input type="email" name="email" required/></label>
        </p>
        <p class="contact-form__label">
          <label>Message: <textarea name="message" rows="10" required></textarea></label>
        </p>
        <div data-netlify-recaptcha></div>
        <p class="contact-form__button">
          <button type="submit">Send</button>
        </p>
      </form>

    </div><!-- text-content contact -->

  </div><!-- row -->

{% endblock %}

{% block js %}
<!--build:js js/da.fancybox.min.js -->
<script src="js/lib/jquery.fancybox.js"></script>
<script src="js/daFancybox.js"></script>
<!-- endbuild -->
{% endblock %}