{% set body_id = "home" %}

<!-- Primary Meta Tags -->
{% block meta %}
    <title>An introduction to friendly freelance developer Dan Addison</title>
    <meta name="description" content="This portfolio site is the best place to find out more about my Folkestone based web development services">
{% endblock %}

{% block og_meta %}
    <meta property="og:url" content="https://danaddisoncreative.com/">
    <meta property="og:title" content="Dan Addison - Freelance web developer based in Folkestone">
    <meta property="og:description" content="I'm Dan, a friendly freelance web developer, let's build you a website you can be proud of!">
    <meta property="og:image" content="https://danaddisoncreative.com/assets/images/PortfolioHome.jpg">
{% endblock %}

{% block twitter_meta %}
    <meta property="twitter:url" content="https://danaddisoncreative.com/">
    <meta property="twitter:title" content="Dan Addison - Freelance web developer based in Folkestone">
    <meta property="twitter:description" content="I'm Dan, a friendly freelance web developer, let's build you a website you can be proud of!">
    <meta property="twitter:image" content="https://danaddisoncreative.com/assets/images/PortfolioHome.jpg">
{% endblock %}

{% extends "layout.njk" %}

{% block content %}

  <div class="row row--pad">

    <div id="lazy-background-image" data-image-src="assets/images/sintra5.png">

      {# Insert the low quality placeholder #}
      <span id="placeholder-overlay" style="background-image: url('assets/images/sintra5tiny.png');"></span>

    </div><!-- #lazy-feature-image -->


    <div class="text-content intro">

      <h1>Hi! I'm Dan, a freelance web developer from Folkestone</h1>
      <p>Take a look at some <a href="/portfolio" class="link__portfolio">examples</a> of websites I've built</p>
      <p>Check out my <a href="/bio" class="link__bio">bio</a> if you're curious to know more</p>
      <p>Why not <a href="/contact" class="link__contact">contact</a> me to chat about your website idea?</p>
      {# <p>Download my <a href="assets/documents/DA_developer_CV.pdf" target="blank" class="link__cv">CV</a> if that's useful</p> #}

    </div>

  </div><!-- row -->

{% endblock %}