{% macro portfolio( title, link, link_text, paragraphs, tech, repo, images, thumbs ) %}

  <div class="row row--pad">
    <div class="project">

      <div class="project__gallery">

        <div class="project__gallery-image">

          {% for image in images %}
          <a href="#">
            <img src="{{ image.src }}" alt="{{ image.alt }}">
          </a>
          {% endfor %}

        </div>

        <div class="project__gallery-thumbs">

          {% for thumb in thumbs %}
          <a href="#">
            <img src="{{ thumb.src }}" alt="{{ thumb.alt }}">
          </a>
          {% endfor %}

        </div><!-- project__gallery-thumbs -->

      </div><!-- project__gallery -->

      <div class="project__info">

        <h2 class="project__info-title">{{ title }}</h2>

        <p><a class="project__info-link" href="{{ link }}" target="blank">{{ link_text }} <i class="icon-new-tab"></i></a></p>

        <div class="project__info-description">

          {% for paragraph in paragraphs %}
          <p>{{ paragraph }}</p>
          {% endfor %}

        </div>

        <p class="project__info-tech"><span>Tech Stack: </span>{{ tech }} <a class="repo" href="{{ repo }}" target="blank"><i class="icon-github"></i></a></p>

      </div><!-- project__info -->

    </div><!-- project -->
  </div><!-- row -->

{% endmacro %}