#contact .background-image {
  position: absolute;

  @include mq($bp-l) {
    position: fixed;
  }
}

.contact {
  margin-bottom: $spacing*4;
  right: 0;
   
  @include mq($bp-s) {
    top: 550px;
  }

  @include mq($bp-m) {
    max-width: 600px;

  }

  @include mq($bp-l) {
    top: 100px;
  }    

  @include mq($bp-xl) {
    margin-right: 200px;
  }
  
  @include mq($bp-xxl) {
    top: 25vh;
  }

  i {
    transition: .1s ease-in;

    &:hover,
    &:focus {
      transform: scale(1.3);
    }
  }
}

// fancybox hidden element
#cost-info {
  text-align: center;
  margin: $spacing;
  max-width: $bp-m;
  padding: $spacing $spacing;
  font-size: .8em;

  
  h1 {
    font-size: 1.25em;
    font-weight: bold;
  }
  
  .as-standard {
    font-style: italic;
  }

  @include mq($bp-m) {
    padding: $spacing $spacing*2;
    font-size: 1em;

    h1 {
      font-size: 1.5em;
    }
  }
}


