body {
  background-color: $color__canvas-medium;
}

.page {
  min-height: calc(100vh - 64px);
}

.hidden {
  display: none;
}

.background-image {
  z-index: -1;
  position: absolute;
  top: 60px;
  left: 5vw;
  
  img {
    max-height: calc(100vh - 100px);
    max-width: 90vw;
  }

  @include mq($bp-m) {
    position: fixed;
  }

  @include mq($bp-xl) {
    left: 10vw;
  }
}

.text-content {
  position: absolute;
  left: 0px;
  top: 400px;
  width: auto;
  text-align: right;
  padding: $spacing;
  margin-bottom: $spacing*2;

  h1 {
    display: inline-block;
    font-size: 1.25em;
    background-color: $color__transparent;
  }

  p {
    display: inline-block;
    margin: 0 0 1em auto;
    background-color: $color__transparent;
  }

  @include mq($bp-m) {
    top: 150px;
    left: 200px;
    margin-bottom: 0;
  }
  
  @include mq($bp-l) {
    left: 350px;
  }
}