.contact-form {
  margin-left: auto;
  max-width: 500px;
  padding-top: $spacing;
  text-align: left;

  .hidden {
    display: none;
  }

  .contact-form__label {
    width: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }

  label {
    margin-bottom: 0;
    font-weight: normal;
  }

  input,
  select,
  textarea {
    width: 100%;
    margin: .5rem 0 0;
  }

  .contact-form__button {
    width: auto;
    padding: 0;
  }
  
  button {
    margin-bottom: 0;
    padding: .25rem 1rem;

    &:hover,
    &:focus {
      background-color: $color__action;
      color: $white;
    }
  }
}