<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-icons">
      <a href="https://twitter.com/" target="_blank"><img src="images/iconmonstr-twitter-5.svg" alt="Twitter icon"></a>
      <a href="https://www.instagram.com/" target="_blank"><img src="images/iconmonstr-instagram-15.svg" alt="Instagram icon"></a>
      <a href="https://www.facebook.com/" target="_blank"><img src="images/iconmonstr-facebook-5.svg" alt="Facebook icon"></a>
    </div>

    <p class="copyright">&copy <a href="http://www.danaddison.co.uk">Dan Addison</a> 2017</p>

  </div><!-- wrapper -->

</footer>