body {
  background-color: $color__canvas-medium;
}

.page {
  min-height: calc(100vh - 64px);
}

.hidden {
  display: none;
}

.text-content {
  position: absolute;
  right: 0px;
  top: 400px;
  width: auto;
  text-align: right;
  padding: $spacing;
  margin-bottom: $spacing*2;

  h1 {
    display: inline-block;
    font-size: 1.25em;
    background-color: $color__transparent;
  }

  p {
    display: inline-block;
    margin: 0 0 1em auto;
    padding: 0 .5em;
    background-color: $color__transparent;
  }

  @include mq($bp-m) {
    top: 150px;
    right: 120px;
    margin-bottom: 0;
  }

  @include mq($bp-xl) {
    top: 30vh;
  }
}